# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/release

# Added by Git Automation Dashboard
package-lock.json
release/
run.bat
_esbuild.config.js
dist/
node_modules/
release-builds/
promptforge_expanded_folders.json
